* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  display: flex;
  overflow: hidden;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

.navbar {
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: rgb(27, 27, 27);
  display: flex;
}

.nav-link {
  height: 50px;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.card-container {
  margin-left: 320px;
  max-width: 70vw;
}

.articles-img {
  width: 100%;
}

.ant-btn {
  font-size: 20px !important;
  padding: 0px 5px 5px 5px !important;
  padding-bottom: 35px !important;
  width: 120px;
}

.nav-name {
  height: 50px;
  font-size: 36px;
  margin-top: 10px;
}

.nav-name > a {
  color: white;
  text-decoration: none;
  outline: none;
}

.nav-name > a:hover {
  color: #ddc56d;
}

.nav-link > a {
  color: white;
  text-decoration: none;
  outline: none;
}

.nav-link > a:hover {
  color: #ddc56d;
}

.nav-logo {
  max-width: 100px;
  padding-top: 10px;
}

.nav-logo > img {
  width: 100%;
}

.articles-card-container {
  min-height: 65vh !important;
}

.articles-card {
  min-width: 250px;
  margin: 10px 0 0 10px;
}

.ant-card-body > p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.ant-card-body > h1 {
  font-size: 28px;
}

.search-articles {
  margin: 20px auto 30px auto;
  width: 350px;
}

.articles-card-container {
  margin-left: 350px !important;
}

.ant-card {
  border-radius: 15px !important;
}

.card-show-article {
}

.ant-card-body.card-show-article > h1 {
  font-size: 40px !important;
}

.ant-card-body.card-show-article > p {
  font-size: 24px !important;
}

.footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
