.navbar {
  width: 100%;
  height: 70px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: #444444;
  display: flex;
}

.nav-link {
  height: 50px;
  font-size: 30px;
  margin-top: 15px;
}

.nav-link > a {
  color: white;
  text-decoration: none;
  outline: none;
  margin-left: 20px;
}

.nav-logo {
  max-width: 100px;
  padding-top: 5px;
}

.nav-logo > img {
  width: 100%;
}
